{% extends 'layout.html' %}

{% block content %}
<div id="main-inner" data-scripts="{{ scripts|join(',') }}">
	<div class="container">
		<div class="row">
			<div class="offset3 span6">
				<form class="form-horizontal" id="new-emp-form" method="POST" action="/add" enctype="multipart/form-data">
					<fieldset>
						<legend>Add Employee</legend>
						<div class="control-group">
							<label class="control-label" for="name">Name</label>
							<div class="controls">
								<input class="span3" name="name" type="text" id="name" placeholder="Name" autofocus>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="job">Job</label>
							<div class="controls">
								<input class="span3" name="job" type="text" id="job" placeholder="Job">
							</div>
						</div>
						<div class="offset2">
							<button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
							<button id="btn-reset" type="button" class="btn">Reset</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
	{% parent %}
	{% for s in scripts %}
	<script type="text/javascript" src="{{s}}"></script>
	{% endfor %}
{% endblock %}
